footer {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	color: #808080;
	font-size: .85rem;
}

.social-icons {
	padding-top: 100px;
	display: flex;
	align-items: center;
	gap: 1rem;

	i {
		font-size: 2rem;
	}
}

.links {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	div {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

a, a:visited {
	color: #808080;
}

button {
	background-color: transparent;
	border-radius: 0px;
	border: 1px solid #808080;
	color: #808080;

	&:hover { 
		color: var(--light); 
	}
}