nav, .nav-links, .right-links, .user-link {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	user-select: none;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	height: 68px;
	z-index: 4;
	width: 100%;
	padding: 0 1rem;
	transition: background-color 500ms ease;
	background-image: linear-gradient(var(--dark), transparent);
}

.scrolled {
	background-color: var(--dark);
	background-image: none;
}

.logo {
	img {
		height: 60px;
		width: auto;
		margin-left: -10px;
	}
}

.nav-links {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	padding-left: 1rem;
	z-index: 10;
	background-color: var(--dark);

	a {
		color:#cfcfcf;
		font-size: .9rem;
	}
	a.active {
		color: white;
	}
}

.fill-space {
	flex: 1;
}

.right-links {
	a {
		font-size: .9rem;
	}
	img {
		height: 30px;
		border-radius: 2px;
		width: auto;
	}
	i {
		vertical-align: top;
	}
}

// Bootstrap MD breakpoint
@media screen and (min-width: 768px) {
	nav {
		padding: 0 3rem;
	}
	.nav-links {
		display: flex;
		position: unset;
		top: unset;
		left: unset;
		background-color: unset;
		height: unset;
		width: unset;
		flex-direction: unset;
		gap: 1.5rem;
		padding-left: unset;
		z-index: unset;
	}
	.menu {
		display: none;
	}
}