<main class="px-3 px-md-5">
  <app-navbar></app-navbar>
  <section>
    <div class="home-poster">
      <img src="assets/img/home_poster.jpg" alt="home_poster">
    </div>
    <span class="tv-ma">TV-MA</span>
    <div class="home-poster-info">
      <img src="assets/img/home_poster_title.png" alt="home_poster_title">
      <p>
        A criminal mastermind who brings eight thieves together to take hostages and lock 
        themselves in the Royal Mint of Spain as he manipulates the police to carry out his plan.
      </p>
      <div>
        <button><i class="fas fa-caret-right"></i> Play</button>
        <button><i class="fas fa-info-circle"></i> More Info</button>
      </div>
    </div>
    <div class="content">
      <div *ngIf="originals$ | async as movies">
        <h1>Popular on Netflix</h1>
        <app-movie-row [movies]="movies"></app-movie-row>
      </div>
      <div *ngIf="trending$ | async as movies">
        <h1>Trending Now</h1>
        <app-movie-row [movies]="movies"></app-movie-row>
      </div>
      <div *ngIf="topRated$ | async as movies">
        <h1>User Favorites</h1>
        <app-movie-row [movies]="movies"></app-movie-row>
      </div>
      <div *ngIf="horror$ | async as movies">
        <h1>Horror</h1>
        <app-movie-row [movies]="movies"></app-movie-row>
      </div>
      <div *ngIf="action$ | async as movies">
        <h1>Action & Sci-fi</h1>
        <app-movie-row [movies]="movies"></app-movie-row>
      </div>
      <div *ngIf="romance$ | async as movies">
        <h1>Romantic Movies</h1>
        <app-movie-row [movies]="movies"></app-movie-row>
      </div>
      <div *ngIf="comedy$ | async as movies">
        <h1>Comedy Shows</h1>
        <app-movie-row [movies]="movies"></app-movie-row>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</main>